<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ meta.siteName }} - {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/base.css" type="text/css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <main>
        {% block main %}
            {{ content | safe }}
        {% endblock %}
        </main>
    </body>
</html>
